* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-header: 500 1rem 'Poppins', sans-serif;
  --font-logo: 800 2rem 'Poppins', sans-serif;
  --font-title: 700 2rem 'Poppins', sans-serif;
  --font-content: 500 1rem 'Poppins', sans-serif;

  --section-div: linear-gradient(50deg, #ffffff, #18a0fb, #0a3b5c);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
}

#nav-bar {
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
  padding: 0 3rem;
  border-bottom: 1px solid #e4e4e4;
}

#logo {
  font: var(--font-logo);
}

#logo-link {
  color: black;
  text-decoration: none;
}

.fa-camera-retro {
  margin-right: 0.5rem;
  color: #18a0fb;
}

#span-logo {
  color: #18a0fb;
}

#nav-link {
  display: flex;
  align-items: center;
  font: var(--font-header);
}

#nav-link ul {
  display: flex;
  margin: 0 1rem;
}

.nav-list {
  list-style: none;
  margin: 0 1rem;
}

.nav-list a {
  color: #18a0fb;
  text-decoration: none;
}

.nav-list a:hover {
  color: #54b7f8;
  text-decoration: underline;
}

#nav-btn {
  background: #18a0fb;
  color: white;
  font: var(--font-header);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

#nav-btn:hover {
  cursor: pointer;
  background: #54b7f8;
  transition: 0.3s;
}

main {
  margin-top: 4.2rem;
}

#hero {
  display: flex;
  padding: 1.6rem 3rem;
}

#hero-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font: var(--font-title);
}

#hero-container h1 {
  padding: 1rem 5rem 1rem 0;
}

#btn-hero {
  background: #18a0fb;
  color: white;
  margin: 0 auto 0 0;
  font: var(--font-header);
  padding: 0.5rem 3.5rem;
  border: none;
  border-radius: 5px;
}

#btn-hero:hover {
  cursor: pointer;
  background: #54b7f8;
  transition: 0.3s;
}

#hero-image {
  max-width: 100%;
  height: auto;
}

.section-divider {
  background: var(--section-div);
  height: 1px;
  margin: 1rem 0;
}

#body-layout {
  padding: 0 3rem;
  margin: 2rem 0;
}

#body-title {
  font: var(--font-title);
  margin: 1rem 0 2rem 0;
}

.body-container {
  display: flex;
}

.body-a,
.body-b {
  font: var(--font-content);
  padding-right: 10rem;
}

.body-a h3,
.body-b h3 {
  font-size: 2rem !important;
  margin: 1rem 0;
}

.body-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.btn-body {
  background: #18a0fb;
  color: white;
  margin: 2rem 0;
  font: var(--font-header);
  padding: 0.5rem 3.5rem;
  border: none;
  border-radius: 5px;
}

.btn-body:hover {
  cursor: pointer;
  background: #54b7f8;
  transition: 0.3s;
}

#sub-body {
  display: flex;
  padding: 0 3rem;
  margin: 3rem 0;
}

.sub-body-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-right: 3rem;
}

.sub-body-content h3 {
  font: var(--font-title);
}

.sub-body-content p {
  font: var(--font-content);
}

#sub-body-image {
  max-width: 100%;
  height: auto;
}

#sub-body-2 {
  padding: 0 3rem;
  margin: 3rem 0;
  background: #e4e4e4;
}

#sub-body-2-content {
  display: flex;
  padding: 2rem 0;
}

#sub-body-2-image {
  max-width: 100%;
  height: auto;
}

.sub-body-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.sub-body-2-container h3 {
  font: var(--font-title);
}

.sub-body-2-container p {
  font: var(--font-content);
}

#testimonial {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  margin: 3rem 0;
}

.testimonial-content {
  margin-bottom: 2rem;
  text-align: center;
}

.testimonial-title {
  font: var(--font-title);
}

.testimonial-text {
  font: var(--font-content);
  font-size: 1.5rem !important;
  margin: 1rem 0;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  row-gap: 4rem;
}

.testimonial-img {
  width: 425px;
  height: 319px;
  object-fit: cover;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 3rem;
}

.signup-title {
  font: var(--font-title);
}

.signup-text {
  font: var(--font-content);
  font-size: 1.5rem !important;
  margin: 2rem 0;
}

.form-content {
  min-width: 40rem;
  margin: 2rem auto 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
}

#form-signup {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0 auto 0 0;
  padding: 2.5rem;
}

#form-signup legend {
  font: 700 1.5rem 'Poppins', sans-serif;
  margin-bottom: 2rem;
}

#form-signup input {
  font: var(--font-content);
}

.name {
  display: flex;
  justify-content: space-between;
}

#name,
#last-name {
  width: 48%;
  margin-bottom: 1.3rem;
}

#email,
#password {
  margin-bottom: 1.3rem;
}

#name,
#last-name,
#email,
#password {
  padding: 0.4rem 1rem;
}

#form-button {
  margin: 0 auto 0 0;
  background: #18a0fb;
  color: white;
  font: var(--font-header);
  padding: 0.5rem 3.5rem;
  border: none;
  border-radius: 5px;
}

#form-button:hover {
  cursor: pointer;
  background: #54b7f8;
  transition: 0.3s;
}

.footer-link-1 {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 0 3rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

#footer-logo {
  font: var(--font-logo);
}

.footer-link {
  display: flex;
}

.content-link {
  display: flex;
  margin: 0 10rem;
}

#link-mobile,
#link-community,
#link-mobile {
  margin: 0 3rem;
}

#link-mobile h4,
#link-community h4,
#link-mobile h4 {
  font: 700 1rem 'Poppins', sans-serif;
  margin: 1rem 0;
}

#link-mobile ul,
#link-community ul,
#link-mobile ul {
  font: var(--font-content);
}

#link-mobile ul li,
#link-community ul li,
#link-mobile ul li {
  text-decoration: none;
  list-style: none;
}

#link-mobile ul li a,
#link-community ul li a,
#link-mobile ul li a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

#link-mobile .link-hover:hover,
#link-community .link-hover:hover,
#link-mobile .link-hover:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.footer-button {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.btn-footer {
  margin-bottom: 0 1rem;
  padding: 0.5rem 2rem;
}

#btn-register,
#btn-login {
  margin-bottom: 1rem;
}

#btn-register {
  background: #18a0fb;
  color: white;
  font: var(--font-header);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

#btn-register:hover {
  background: #54b7f8;
  cursor: pointer;
  transition: 0.3s;
}

#btn-login {
  background: #fff;
  color: #18a0fb;
  font: var(--font-header);
  padding: 0.5rem 2rem;
  border: 1px solid #18a0fb;
  border-radius: 5px;
}

#btn-login:hover {
  background: #18a0fb;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.footer-bottom span {
  font: var(--font-content);
}

.footer-socialmedia {
  display: flex;
  align-items: center;
}

.footer-socialmedia a {
  color: black;
}

.footer-socialmedia i {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.fa-instagram:hover {
  color: #c13584;
  transition: 0.3s;
}

.fa-flickr:hover {
  color: #ff0084;
  transition: 0.3s;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.3s;
}

.fa-facebook:hover {
  color: #4267b2;
  transition: 0.3s;
}
